@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.site-title {
  background-image: linear-gradient(
    180deg,
    #fc8211 0%,
    #ffd686 56.77%,
    #ffe9bf 96.87%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* identical to box height */

  letter-spacing: 0.46em;
}

.art-bar-bg {
  background: linear-gradient(
      179.99deg,
      rgba(4, 29, 255, 0.7) 0.01%,
      rgba(61, 35, 217, 0.7) 2.62%,
      rgba(231, 34, 148, 0.154) 17.1%
    ),
    radial-gradient(
        56.83% 56.83% at 74.13% 43.17%,
        #f699ff 0%,
        #ff58c7 56.56%,
        #e72294 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.answer-box {
  /* Rectangle 3 */

  box-sizing: border-box;

  padding: 20px;
  width: 326px;
  height: 117px;

  background: #ffe7f5;
  border: 4px solid #f090f9;
  border-radius: 21px;
}

.bar-yellow {
  color: #ebc154;
  text-decoration-line: underline;
}

.submit-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 10px 7px;
  gap: 10px;

  width: 114px;
  height: 56px;

  background: radial-gradient(50% 50% at 50% 50%, #fc7b04 22.9%, #ffd686 100%);
  border-radius: 10px;
}

.prompt-container {
  box-sizing: border-box;
    width: 94vw;
    height: 90px;
    background: #ffe7f5;
    border: 4px solid #ffd686;
    padding: 10px 15px;
    /* border-image-source: linear-gradient(180deg, #fc8211 0%, #ffd686 100%); */
    border-radius: 21px;

}

.bar-text-color {
  color: #5E153F;
}
